/*
  Name: Aibo Feng
  Date:  April 21, 2023
  Section: CSE 154 AF (Donovan and Sonia)

  This is the styles.css page for my the website. It incorporates a primary
  background color of antique white, with secondary blue colors and some other neutral
  tones. The dark mode inverts the colors, making the background color a dark blue
  and the text antique white.
*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: white;
  color: #448CAA;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.left-content {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}

#logo > img {
  width: 150px;
  height: auto;
  margin: 20px;
  flex-shrink: 0;
}

#search {
  flex: 1;
  display: flex;
}

#search-option {
  border: 3px solid #448CAA;
  border-right: none;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 20px;
}

#search-bar {
  border: 3px solid #448CAA;
  border-right: none;
  padding: 5px;
  height: 34px;
  outline: none;
  font-size: 20px;
  flex: 1;
}

#search-btn {
  width: 100px;
  height: 50px;
  border: 1px solid #448CAA;
  background: #448CAA;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

#login-btn {
  width: 100px;
  height: 50px;
  border: 2px solid #448CAA;
  background: #448CAA;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.5s ease;
}

#login-btn:hover {
  background-color: #fff;
  color: #448CAA;
}

#signup-btn {
  width: 100px;
  height: 50px;
  border: 2px solid #95C8D9;
  background: #fff;
  text-align: center;
  color: #95C8D9;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.5s ease;
}

#signup-btn:hover {
  background-color: #95C8D9;
  color: #fff;
}

#cart {
  display: flex;
  align-items: center;
  gap: 10px;
}

#cart > img {
  width: 50px;
  height: 50px;
  margin: 0;
}

#content {
  /* background-color: #44465B; */
  background-color: #95C8D9;
  display: flex;
  flex: 1;
  gap: 30px;
  padding: 20px;
}

#sidebar {
  background-color: #448CAA;
  color: white;
  font-size: 20px;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 25px;
  transition: margin 0.3s ease-in-out;
}

#sidebar:hover {
  margin-top: -10px;
}

#item-display {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  font-size: 20px;
  max-width: 250px;
  max-height: 610px;
  padding: 20px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 10px 6px -6px #777;
}

.item-img {
  width: 250px;
  height: 330px;
}

.item-name{
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  min-height: 75px;
}

.item-author {
  font-size: 15px;
  font-style: italic;
}

.item-description {
  font-size: 15px;
  min-height: 100px;
}

.item-price {
  font-size: 15px;
  font-weight: bold;
}

.modal {
  width: 300px;
  padding: 40px;
  background-color: whitesmoke;
  border-radius: 20px;
  border: none;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-heading {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.modal-close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
}

.modal-form {
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 10px;
}

.modal-form > label {
  display: flex;
  flex-direction: column;
}

.modal-form input {
  height: 30px;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  font-size: 15px;
}

.modal-submit {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #448CAA;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.hidden {
  display: none !important;
}